{% extends "layout.html" %}
{% block main %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
				<div class="row" id="content">
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="mainbar">
						<div class="tabs" role="tabpanel">
							<nav>
								<ul class="tabs-navigation">
									<li><a data-content="pasties" class="selected text-center">Pasties</a></li>
									<li><a data-content="users" class="text-center">Usuarios</a></li>
									<li><a data-content="tags" class="text-center">Tags</a></li>
								</ul>
							</nav>

							<!-- Contenido de los tabs -->
							<ul class="tabs-content">
								<li class= "container-fluid" role="tabpanel" data-content="pasties" id="pasties">
									<!--Acá vanlos pasties -->
									<div class="panel-body" id="pasties-user">
									{% for pastie in pasties %}
										<div class="pastie" id="pastie-summary-{{pastie[0]}}">
											<div class="pastie-main media">
												<div class="pastie-user-image media-left">
													<a><img class="media-object avatar" width="48" height="48" src=""></a>
												</div>
												<div class="media-body">
													<div class="media-heading">
														<strong class="pastie-owner">
															{{pastie[3]}}
														</strong>
														<small class="small-text">
															<span class="pastie-username">
																<span>@</span>
																<span>{{pastie[9]}}</span>
															</span>
															<span class="separator">-</span>
														</small>
													</div>
													<p class="pastie-content text-justify">{{pastie[2]}}</p>
													<div class="pastie-footer row">

														<div class="pastie-tags col-sm-9">
																<a class="pastie-tag"><span>tag</span></a>
														</div>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
								</li>
								<li class= "container-fluid" role="tabpanel" data-content="users" id="users">
									<!--Acá irán los users -->
								</li>
								<li class= "container-fluid" role="tabpanel" data-content="tags" id="tags">
									<!--Acá irán los tags -->
								</li>
							</ul>
						</div>
					</div>

					<div class="col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1" id="sidebar">
						<h2>ase?</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
